h1,li{
    font-family: "Playwrite AT", cursive;
    
}

.hello{
    color:#DC0083;
}

.container{
    background-color:#CAF4FF;
    
}

span{
    font-family: "Playwrite CU", cursive;
    color:#FC4100;
}

h2{
    font-family: "Playwrite CU", cursive;
}
